
body, html{
  margin: 0;
  height: 100%;
  padding: 0;
  background: #a2d2ff;
  font-family: Times New Roman (serif);
}

.center{
  position: absolute;
  top: 45%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 55vh;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-size: 40px;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
}


input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}


.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.welcome {
  background-color: white;
  top: 45%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 55vh;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  font-size: 25px;
  background: linear-gradient(#4172db, #5e87c5);
  color: white;

}

.welcome h1 {
  padding-top: 20%;
  text-align: center;
  font-size: 40px;
}

.websitename {
  top: 80%;
  position: absolute;
  padding-left: 5%;
}

.footer {
  top: 85%;
  position: absolute;
  background-color: rgb(28, 28, 38);
  width: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
  font-size: 15px;
  display:flex;
}

@media only screen and (max-height: 725px) {
  .footer {
    top: 80%;
  }
}



.footer h1 {
  font-size: 20px;
}

.footer .contact, .resources, .authors{
  width: 33%;
  font-size: 15px;
}

.registerform {
  background-color: white;
  width: 30vw;
  height: 60vh;
  left: 50%;
  top: 40%;
  transform:translate(-50%, -50%);
  position: absolute;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

@media only screen and (max-height: 725px) {
  .registerform {
    top: 40vh;
    height: 70%;
  }
}

.registerform h1 {
  text-align: center;
  border-bottom: 1px solid silver;
  font-size: 40px;

}

.registerform form {
  padding: 0 40px;
  box-sizing: border-box;
}

.registerform form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.error {
  font-size: 3vh;
  color:rgb(24, 20, 20);
  text-align: center;
  font-weight: 1000;
}

.mysidenav {
  position: fixed !important;
  background-color:#639cd9 !important;
  font-size: large;
}



.statistics {
  display:flex;
  left:10%;
  width: 80vw;
  position: absolute;
  top: 15vh;
  font-size: x-large;
  opacity: 0.7;
}

.statistics-two {
  display:flex;
  left:10%;
  width: 80vw;
  position: absolute;
  top: 37vh;
  font-size: x-large;
  opacity: 0.7;
}

.students-quantity {
  padding-left: 3%;
  border-radius: 30px;
  width: 80vw;
  background-color: rgb(37, 111, 37);
  border: 2px solid rgb(38, 149, 7);
  top: 20%;
}

.average-grade {
  padding-left: 3%;
  border: 2px solid red;
  border-radius: 30px;
  width: 80vw;
  background-color: rgb(229, 54, 54);

}

.marks-total {
  padding-left: 3%;
  border: 2px solid rgb(16, 90, 133);
  border-radius: 30px;
  width: 80vw;
  background-color: rgb(29, 113, 158);
}

.highest-grade {
  padding-left: 3%;
  border: 2px solid rgb(183, 124, 22);
  border-radius: 30px;
  width: 80vw;
  background-color: rgb(184, 129, 26);
}

.students-quantity i, .highest-grade i  {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 3.5vw;
  text-shadow:2px 4px 6px cyan;
}

.average-grade i, .marks-total i{
  position: absolute;
  top: 20%;
  left: 90%;
  font-size: 3.5vw;
  text-shadow:2px 4px 6px cyan;
}

.fun-fact {
  left:20%;
  position:absolute;
  top: 60%;
  line-height: 2;
  width: 60%;
  height: 17vw;
  font-size: 1.2vw;
  background-color: #cdb4db;
  border-radius: 10px;
  text-align: center;
}

h3{
  border-bottom: #ffafcc solid 2px;
}

.statistics-info {
  border-radius: 10px;
  border-bottom-style: solid;
  border-bottom-color: #222;
  font-weight: bold;
  background-color: white;
  position: absolute;
  top:55%;
  width: 60%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  height: 5%;
  text-align: center;
  padding-top: 2%;
}

@media only screen and (max-height: 725px) {
  .table-container {
    top: 40vh;
    height: 70%;
  }
}

.table-container {
  border-spacing: 20px;
  position:absolute;
  top:50%;
  transform:translate(-50%, -50%);
  left:50%;
  text-align: center;
  font-size: xx-large;
  border-collapse: collapse;
}

.table-container tr {
  background-color: #cdb4db;
}

.table-container th, td {
    padding: 1vw 1vw;
}

.table-container td:hover {
  background-color: #2691d9;
}

.delete-button {
  background-color: rgb(163, 13, 13);
  align-items: center;
  font-size: 25px;
  width:80%;
  border-radius: 8px;
}

.update-button {
  width:80%;
  text-align: center;
  background-color: rgb(21, 131, 74);
  font-size: 25px;
  border-radius: 8px;
}

.update-student-form {
  background-color: white;
  width: 30%;
  height: 60%;
  left: 50%;
  top: 50%;

  transform:translate(-50%, -50%);
  position: absolute;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

@media only screen and (max-height: 725px) {
  .update-student-form {
    height: 75%;
  }
}

.update-student-form h1 {
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-size: 40px;
}

.update-student-form form {
  padding: 0 40px;
  box-sizing: border-box;

}

.update-student-form form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}










  
