
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(#5f9bd6, #63367d, #697be1);
  height: 100vh;
  overflow: hidden;
  font-family: Georgia;
}

.center{
  position: absolute;
  top: 45%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-size: 40px;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
}


input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}


.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.welcome {
  background-color: white;
  top: 45%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  font-size: 25px;
  background: linear-gradient(#4172db, #5e87c5);
  color: white;

}

.welcome h1 {
  padding-top: 20%;
  text-align: center;
  font-size: 40px;
}

.websitename {
  top: 80%;
  position: absolute;
  padding-left: 5%;
}

.footer {
  top: 80%;
  position: absolute;
  background-color: rgb(28, 28, 38);
  width: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
  font-size: 15px;
  display:flex;
  height:100%;
}

.footer h1 {
  font-size: 20px;
}

.footer .contact, .resources, .authors{
  width: 33%;
  font-size: 15px;
}

.registerform {
  background-color: white;
  width: 30%;
  height: 70%;
  left: 50%;
  top: 40%;
  
  transform:translate(-50%, -50%);
  position: absolute;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);

}

.registerform h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-size: 40px;

}

.registerform form {
  padding: 0 40px;
  box-sizing: border-box;
  
}

.registerform form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.error {
  color:red;
  text-align: center;
  font-weight: 1000;
  font-size: larger;
}

.mysidenav {
  background-color:rgb(101, 101, 183) !important;
  font-size: large;
}

.students-quantity {
  padding-left: 3%;
  border-radius: 30px;
  width: 80%;
  background-color: rgb(37, 111, 37);
  border: 2px solid rgb(38, 149, 7);
  top: 20%;
}

.average-grade {
  padding-left: 3%;
  border: 2px solid red;
  border-radius: 30px;
  width: 80%;
  left: 2%;
  background-color: rgb(229, 54, 54);
  top: 20%;
}

.statistics {
  height: 20%;
  left:10%;
  width: 80%;
  position: absolute;
  top: 10%;
  display: flex;
  font-size: x-large;
  opacity: 0.7;
}

.students-quantity i {
  position: absolute;
  top: 15%;
  left: 40%;
  font-size: 4em;
  text-shadow:2px 4px 6px cyan;
}

.average-grade i  {
  position: absolute;
  top: 15%;
  left: 90%;
  font-size: 4em;
  text-shadow:2px 4px 6px cyan;
}

